/*PETA*/
#map img {
    max-width: none;
}
#map label {
    width: auto;
    display: inline;
}
div#map {
    width: 100%;
    height: 350px;
    float: left;
}

#map1 img {
    max-width: none;
}
#map1 label {
    width: auto;
    display: inline;
}
div#map1 {
    width: 100%;
    height: 550px;
    float: left;
}

#map2 img {
    max-width: none;
}
#map2 label {
    width: auto;
    display: inline;
}
div#map2 {
    width: 100%;
    height: 450px;
    float: left;
}

#map3 img {
    max-width: none;
}
#map3 label {
    width: auto;
    display: inline;
}
div#map3 {
    width: 100%;
    height: 650px;
    float: left;
}

#map_canvas img {
    max-width: none;
}
#map_canvas label {
    width: auto;
    display: inline;
}
div#map_canvas {
    width: 100%;
    height: 550px;
    float: left;
}

#peta {
    width: 100%;
    height: 450px;
    margin-bottom: -10px;
}

div#siteNotice {
    width:450px;
    height:100%;
}

.rounded { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; }
